* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    --bordo: #800000;
    --dourado: #946900;
    --branco: #fff;
    --preto: #000;
}

a {
    color: var(--branco);
    text-decoration: none;
}


/*  HEADER */

#logo p {
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#header {
    box-sizing: border-box;
    height: 110px;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--bordo);
}

.linha-dourada {
    background-color: var(--dourado);
    height: 5px;
    width: 40vw;
    display: flex;
    margin: auto;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: .5rem;
    margin-top: 10px;
}

#menu a {
    display: block;
    padding: .5rem;
    color: var(--branco);
}

#menu a:hover {
    text-decoration: underline 2px solid var(--dourado);
}


/*  HEADER */


/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    background: var(--bordo);
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: var(--branco);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    font-size: 18px;
}

.footer-bottom {
    width: 100vw;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    background-color: var(--branco);
    color: var(--preto);
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 20px;
}

.socials a {
    padding: 10px;
    font-size: 25px;
}

.socials a:hover {
    cursor: pointer;
    color: var(--dourado);
}


/* FOOTER */